<mt:var name="response_text">

In your original inquiry on <mt:var name="inquiry_date"> you said:

<mt:var name="inquiry_text">

-----
This email was sent to you the Contact Form plugin powered by <mt:ProductName>. It is in direct response to an inquiry you submitted earlier.