<mt:setvar name="page_title" value="Contact Form Inquires">
<mt:setvarblock name="PluginStatic"><mt:StaticWebPath>plugins/ContactForms/</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
  <link rel="stylesheet" href="<mt:var name="PluginStatic">css/app.css" type="text/css" />
  <link rel="stylesheet" href="<mt:var name="PluginStatic">css/mt.dialog.css" type="text/css">
  <link rel="stylesheet" href="<mt:var name="PluginStatic">css/ui.core.css" type="text/css">
  <link rel="stylesheet" href="<mt:var name="PluginStatic">css/ui.dialog.css" type="text/css">
  <script type="text/javascript" src="<mt:var name="PluginStatic">js/jquery.js"></script>
  <script type="text/javascript" src="<mt:var name="PluginStatic">js/ui.core.js"></script>
  <script type="text/javascript" src="<mt:var name="PluginStatic">js/ui.dialog.js"></script>
  <script type="text/javascript" src="<mt:var name="PluginStatic">js/ui.resizable.js"></script>
  <script type="text/javascript" src="<mt:var name="PluginStatic">js/ui.draggable.js"></script>
  <script type="text/javascript">
    var blog_id       = <$mt:var name="blog_id"$>;
    var magic_token   = '<$mt:var name="magic_token"$>';
    var script_url    = '<mt:AdminCGIPath><mt:AdminScript>';
    var static_uri    = '<mt:StaticWebPath>';
    var plugin_static = '<mt:var name="PluginStatic">';
  </script>
  <script type="text/javascript" src="<mt:var name="PluginStatic">js/listing.js"></script>
</mt:setvarblock>

<mt:setvarblock name="html_body_footer" append="1">
  <mt:include name="reply_dialog.tmpl" component="ContactForms">
  <mt:include name="include/display_options.tmpl">
</mt:setvarblock>

<mt:setvarblock name="system_msg">
    <mt:if name="deleted">
        <mtapp:statusmsg id="reply_deleted" class="success">The inquiry was deleted.
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="status" eq="read">
        <mtapp:statusmsg id="reply_read" class="success">The inquiries were marked as read.
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="status" eq="unread">
        <mtapp:statusmsg id="reply_unread" class="success">The inquiries were marked as unread.
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="status" eq="junk">
        <mtapp:statusmsg id="reply_junked" class="success">The inquiries were marked as spam/junk.
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="flagged" eq="yes">
        <mtapp:statusmsg id="reply_flagged" class="success">The inquiries were flagged.
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="flagged" eq="no">
        <mtapp:statusmsg id="reply_unflagged" class="success">The inquiries were unflagged.
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>

<mt:setvarblock name="related_content">
    <mtapp:widget
        id="quickfilters"
        label="<__trans phrase="Quickfilters">">
        <$mtapp:ListFilters$>
        <ul>
        <mt:if name="form_id">
            <li><a href="<$mt:var name="mt_url">?__mode=cf.csv&amp;form_id=<mt:var name="form_id">">Export as CSV</a></li>
        </mt:if>
            <li>
        <mt:if name="feed_url">
                <a href="<$mt:var name="feed_url" escape="html"$>" class="icon-feed icon-left" title="<$mt:var name="feed_name" escape="html"$>"><$mt:var name="object_type_feed"$></a>
        <mt:else>
                <a href="<$mt:var name="mt_url">?__mode=view&amp;_type=author&amp;id=<$mt:var name="author_id" escape="url"$>" class="icon-feed-disabled icon-left" title="<__trans phrase="[_1] (Disabled)" params="<$mt:var name="feed_name" escape="html"$>">"><__trans phrase="Set Web Services Password"></a>
        </mt:if>
            </li>
        </ul>
    </mtapp:widget>
    <$mtapp:PageActions from="$mode"$>
</mt:setvarblock>

<mt:setvarblock name="action_buttons">
  <a href="javascript:void(0)"
     onclick="doForMarkedInThisWindow(
                 getByID('contact_form_inquiry-listing-form'),
                 'inquiry', 'inquiries', 'id', 'cf.del_inquiry'); 
                 return false;"
     accesskey="h"
     title="Delete selected inquiries (d)">Delete</a>
  <!-- more buttons here if you wish -->
  <input type="checkbox" id="select-all-checkbox"
            name="id-head" value="all" class="select" />
</mt:setvarblock>

<mt:include name="include/header.tmpl">
<div class="listing-filter">
  <div class="listing-filter-inner inner pkg">
    <span id="inquiry-total"><$mt:var name="total"$></span> Total, 
    <span id="inquiry-total-unread"><$mt:var name="unread_total"$></span> Unread, 
    <span id="inquiry-total-flagged"><$mt:var name="flagged_total"$></span> Flagged. 
  </div>
</div>

<mtapp:listing type="contact_form_inquiry"
    default="No inquiries could be found." 
    empty_message="No inquiries could be found.">
    <mt:if name="__first__">
      <tbody>
    </mt:if>
    <tr id="inquiry-<mt:var name="id">" class="inquiry-wrapper <mt:if name="__odd__">odd<mt:else>even</mt:if> <mt:if name="status" eq="1">unread<mt:else name="status" eq="2">read<mt:else name="status" eq="3">replied<mt:else name="status" eq="5">junk</mt:if><mt:if name="flagged" eq="1"> flagged</mt:if>" form_id="<mt:var name="form_id">" inquiry_id="<mt:var name="id">">
      <td class="cb">
        <input type="checkbox" name="id" 
           value="<mt:var name="id">" class="select" />
      </td>
      <td class="from">
        <img width="50" height="50" 
             src="http://www.gravatar.com/avatar.php?gravatar_id=<mt:var name="from_email" encode_md5="1">&s=50&d=identicon" />
      </td>
      <td class="inquiry">
        <div class="inq-header">
          <span class="author"><mt:var name="from" remove_html="1"></span> said:
        </div>
        <div class="inq-subject">
          <label>Subject:</label> <mt:var name="subject" remove_html="1">
        </div>
        <div class="inq-body">
          <$mt:var name="text" remove_html="1"$>
          <div class="inq-more"><a href="javascript:void(0)">show 
more...</a></div>
        </div>
        <div class="inq-actions">
          <span class="status"></span> | 
          <a href="javascript:void(0)" class="flag-toggle" title="Toggle Flag"></a> | 
          <a href="javascript:void(0)" title="Reply">Reply</a> |
<mt:ignore>          <a href="javascript:void(0)" title="Junk">Junk</a> |</mt:ignore>
          <a href="javascript:void(0)" title="Delete">Delete</a> |
          <a href="<$mt:var name="mt_url">?__mode=cf.view_inquiry&amp;blog_id=<mt:var name="blog_id">&amp;id=<mt:var name="id">" title="Edit">View/Edit</a> | 
          <span class="date"><mt:var name="date" remove_html="1"></span> on 
          <a href="<$mt:var name="mt_url">?__mode=cf.list_inquiries&amp;form_id=<mt:var name="form_id">&amp;blog_id=<mt:var name="blog_id">"><mt:var name="form" remove_html="1"></a>
        </div>
        <div class="status">
        </div>
      </td>
    </tr>
</mtapp:listing>

<mt:include name="include/footer.tmpl">
