<div id="replyDialog" class="mt dialog" title="Send a Reply">
  <div id="comment">
    <p class="comment-meta">On <span class="comment-date"></span>, <span class="commenter-name"></span> submited an inquiry to <span class="entry-title"></span>.</p>
    <div class="comment-body">
    </div>
  </div>
  <div id="comment-reply">
    <div class="intro">Your reply:</div>
    <textarea id="reply-body" name="text" rows="" cols="" class="full-width medium"></textarea>
  </div>
</div>
